*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
}


/*Contact Us Section*/
.contact-us {
    background-color: #f4f4f4;
    padding: 50px 0;
}

/* Style for contact-us button */
.contact-us button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.contact{
    display: flex;
    gap:4rem;
    margin: 2em
}

#contact-form{
    width:28rem;
}

#contact{
    width: 45%;
    margin-left: 4rem;
}

.names{
    display: flex;
    gap:1em;
}

.contact img{
    width: 40%;
}

.right{
    margin-left:2rem;
}

#digital{
    font-size: 3em;
}

.award{
    color: #ED3944;
}


#email{
    border:none;
    border-bottom: 2px solid gray
}

input{
    border:none;
    border-bottom: 2px solid gray
}

#contact-form{
    padding: 1.5em;
    border-radius: 2rem;
}

.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 0.5rem;
}

.popup-form form {
    display: flex;
    flex-direction: column;
}

.popup-form label {
    margin-bottom: 5px;
}

.popup-form input {
    margin-bottom: 10px;
    padding: 10px;
}

.popup-form button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
}

#close-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 3em;
}

.hidy {
    display: none;
}


.text-danger {
    color: #FF0000 !important;
}

.carousel {
    padding: 50px 0;
    background-color: #fff;
}

.content{
  display: flex;
  align-items:center;
  justify-content: center;
  margin-left: 5em;
  margin-right: 5em;
}

.carousel-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 19px;
    color: #F44336;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 32px;
    margin: 10px 0;
    font-weight: bold;
}

.section-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.carousel-slides {
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 22%;
    margin: 1%;
    height: auto;
    display: block;
}

.web-development {
    background-color: #F44336;
    color: white;
    padding: 40px;
    box-sizing: border-box;
    text-align: left;
    width: 22%;
    margin: 1%;
    border-radius: 0.3em;
}

.web-development h4 {
    margin: 0 0 20px 0;
}

.read-more {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.read-more:hover {
    background-color: white;
    color: #F44336;
    border-color: #F44336;
}

.carousel-dots {
    margin-top: 20px;
    float:left
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease, border 0.6s ease;
}

.dot.active {
    background-color: #717171;
    border: 2px solid #F44336;

}

.slide-container {
    display: flex;
    margin: 7em;
}

.image-container {
    flex: 1;
}

.content-container {
    margin-left: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-item {
    padding: 20px;
    margin: 7px 0;
    cursor: pointer;
    background-color: #F6F6F6;
    border-radius: 0.5em;
}

.active {
    background-color: red;
    color: white;
}

#mainImage{
    border-radius: 0.3em;
}

